img{
    background-size: auto;
    background-position: center;
    width: 100%;
    height: fit-content;
}
p{
    font-family: cursive;
    font-size: medium;
    color: indigo;
    background-color: azure;
    font-weight: normal;
}
